<!DOCTYPE html>
<html>
<head>
    <title>Blog | Add article</title>
    <meta charset='utf-8'>
</head>
<body>
    <h2>Add article</h2>
    <form method='post' action='index.php?action=add'>
        <p>
            <label>Title:<br></label>
            <input type='text' name='title' value=''>
        </p>
        <p>
            <label>Date:<br></label>
            <input type='date' name='date' value=''>
        </p>
        <p>
            <textarea name='content' value=''></textarea>
        </p>
        <p>
            <input type='submit' value='Save'>
        </p>
    </form>
</body>
</html>