<!DOCTYPE html>
<html>
<head>
    <title>Blog | Admin Panel</title>
    <meta charset='utf-8'>
</head>
<body>
    <h2>Admin Panel</h2>
    <a href='index.php?action=add'>Add article</a>
    <table>
        <tr>
            <th>Date</th>
            <th>Title</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <?php foreach($articles as $article): ?>
        <tr>
            <td><?=$article['date']?></td>
            <td><?=$article['title']?></td>
            <td><a href='index.php?action=edit&id=<?=$article['id']?>'>Edit</a></td>
            <td><a href='index.php?action=delete&id=<?=$article['id']?>'>Delete</a></td>
        <tr>
        <?php endforeach ?>
    </table>
</body>
</html>