<!DOCTYPE html>
<html>
<head>
    <title>Blog | Registration</title>
    <meta charset='utf-8'>
</head>
<body>
    <h2>Registration</h2>
    <form action='registration.php' method='post'>
        <p>
            <label>Login:<br></label>
            <input name='login' type='text'>
        </p>
        <p>
            <label>Password:<br></label>
            <input name='password' type='password'>
        </p>
        <p>
            <input type='submit' name='submit' value='Sign Up'>
        </p>
    </form>
</body>
</html>